	<div class="main">
		<!-- <div class="banner">
		</div> -->
		<div class="schedule">
			<h4> <%=  Date.today%></h4>

			<div class="alldate">
				<div class="date1">
					<span>Mon(<%= Date.today.beginning_of_week(:monday).strftime("%d")%>)</span>
						<% @schedules.where(date: 1).each do |s|%>
						<ul style="border-color: <%= s.bgcolor %>">
							<li style="background-color: <%= s.bgcolor %>"><%= s.start%>-<%= s.end %></li>
							<li><%= s.title%></li>
							<li><%= s.address%></li>
							<li><%= s.classroom%></li>
						</ul>
						<% end %>
				</div>
				<div class="date2">
				<span>TUE(<%= Date.today.beginning_of_week(:tuesday).strftime("%d")%>)</span>
						<% @schedules.where(date: 2).each do |s|%>
						<ul style="border-color: <%= s.bgcolor %>">
							<li style="background-color: <%= s.bgcolor %>"><%= s.start%>-<%= s.end %></li>
							<li><%= s.title%></li>
							<li><%= s.address%></li>
							<li><%= s.classroom%></li>
						</ul>
						<% end %>

			 </div>
				<div class="date3">
				<span>WED(<%= Date.today.beginning_of_week(:wednesday).strftime("%d")%>)</span>
						<% @schedules.where(date: 3).each do |s|%>
						<ul style="border-color: <%= s.bgcolor %>">
							<li style="background-color: <%= s.bgcolor %>"><%= s.start%>-<%= s.end %></li>
							<li><%= s.title%></li>
							<li><%= s.address%></li>
							<li><%= s.classroom%></li>
						</ul>
						<% end %>
					</div>
				<div class="date4">
				<span>THU(<%= (Date.today.beginning_of_week(:thursday) ).strftime("%d")%>)</span>
						<% @schedules.where(date: 4).each do |s|%>
						<ul style="border-color: <%= s.bgcolor %>;margin-top: <%= s.margin %>px">
							<li style="background-color: <%= s.bgcolor %>"><%= s.start%>-<%= s.end %></li>
							<li><%= s.title%></li>
							<li><%= s.address%></li>
							<li><%= s.classroom%></li>
						</ul>
						<% end %>

					</div>
				<div class="date5">
				<span>FRI(<%= (Date.today.beginning_of_week(:friday)+ 7.days).strftime("%d")%>)</span>
						<% @schedules.where(date: 5).each do |s|%>
						<ul style="border-color: <%= s.bgcolor %>">
							<li style="background-color: <%= s.bgcolor %>"><%= s.start%>-<%= s.end %></li>
							<li><%= s.title%></li>
							<li><%= s.address%></li>
							<li><%= s.classroom%></li>
						</ul>
						<% end %>

			</div>

		</div>
		</div>
    <div class="path">
      <h1>Notice</h1>
      <div class="notice"><%=@notice%></div>
    </div>
	<!-- <div class="allstar">
		<div class="star1"></div>
		<div class="star2"></div>
		<div class="star3"></div>
		<div class="star4"></div>
		<div class="star5"></div>
		<div class="star6"></div>
		<div class="star7"></div>
		<div class="star8"></div>
		<div class="star9"></div>
		<div class="star10"></div>
		<div class="star11"></div>
		<div class="star12"></div>
		<div class="star13"></div>
		<div class="star14"></div>
		<div class="star15"></div>
		<div class="star16"></div>
		<div class="star17"></div>
		<div class="star18"></div>
		<div class="star19"></div>
		<div class="star20"></div>
		<div class="star21"></div>
		<div class="star22"></div>
		<div class="star23"></div>
		<div class="star24"></div>
		<div class="star25"></div>
		<div class="star26"></div>
		<div class="star27"></div>
		<div class="star28"></div>
		<div class="star29"></div>
		<div class="star30"></div>
	 </div>-->
</div>
