<div class="route">
<!-- <p class='distance_show'> route 1 evening </p> -->
  <ul class="<%= class_name %>">
      <!-- <h4><%= get_name(class_name) %> </h4> -->
      <!-- <span class='current'><div class="distance_show"></div></span> -->
      <% if 'route1daydir2' == class_name %>
        <% routes.each do |board|%>
         <% next unless !board.reverse_name.blank? %>
          <li  data-name="<%= board.reverse_name%>" name="<%= class_name %>">
             <span></span><span><%= board.reverse_name.split('_')[0]%></span>
          </li>
        <% end %>
      <% else %>
        <% routes.each do |board|%>
         <% next unless !board.name.blank? %>
          <li  data-name="<%= board.name%>" name="<%= class_name %>">
             <span></span><span><%= board.name.split('_')[0]%></span>
          </li>
        <% end %>
      <% end %>
  </ul>
</div>
