<div class="route">
<!-- <p class='distance_show'> route 1 evening </p> -->
  <ul class="<%= class_name %>">
      <h4><%= get_name(class_name) %> </h4>
      <span class='current'><div class="distance_show"></div></span>
    <% routes.each do |board|%>
     <% next unless !board.name.blank? %>
      <li  data-name="<%= board.name%>" name="<%= class_name %>">
         <span></span><span><%= board.name.split('_')[0]%></span>
      </li>
    <% end %>
  </ul>

</div>
