<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
      <li class="nav-item ">
        <a href="<%=  %>" class="nav-link nav-toggle">
          <i class="icon-home"></i>
          <span class="title">首页</span>
        </a>
      </li>



      <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle" id="news_link">
          <i class=" icon-note"></i>
          <span class="title">文章管理</span>
          <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item" id="news">
              <a href="<%= admin_articles_path %>" class="nav-link nav-toggle">
                <i class="icon-settings"></i> 列表
              </a>
            </li>
            <li class="nav-item" id="new_new">
              <a href="<%= new_admin_article_path %>" class="nav-link nav-toggle">
                <i class="icon-settings"></i> 发布
              </a>
            </li>

        </ul>
      </li>
      <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle" id="schedules_link">
          <i class=" icon-note"></i>
          <span class="title">课程表</span>
          <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item" id="schedules">
              <a href="<%= admin_schedules_path %>" class="nav-link nav-toggle">
                <i class="icon-settings"></i> 列表
              </a>
            </li>
            <li class="nav-item" id="new_schedule">
              <a href="<%= new_admin_schedule_path %>" class="nav-link nav-toggle">
                <i class="icon-settings"></i> 发布
              </a>
            </li>

        </ul>
      </li>

      <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle" id="boards_link">
          <i class=" icon-note"></i>
          <span class="title">站牌管理</span>
          <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item" id="boards">
              <a href="<%= admin_boards_path %>" class="nav-link nav-toggle">
                <i class="icon-settings"></i> 列表
              </a>
            </li>
            <li class="nav-item" id="new_board">
              <a href="<%= new_admin_board_path %>" class="nav-link nav-toggle">
                <i class="icon-settings"></i> 发布
              </a>
            </li>

        </ul>
      </li>

      <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle" id="nutritions_link">
          <i class=" icon-note"></i>
          <span class="title">营养</span>
          <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item" id="nutritions">
              <a href="<%= admin_nutritions_path %>" class="nav-link nav-toggle">
                <i class="icon-settings"></i> 列表
              </a>
            </li>
            <li class="nav-item" id="new_nutrition">
              <a href="<%= new_admin_nutrition_path %>" class="nav-link nav-toggle">
                <i class="icon-settings"></i> 发布
              </a>
            </li>

        </ul>
      </li>

      <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle" id="beans_link">
          <i class=" icon-note"></i>
          <span class="title">豆子</span>
          <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item" id="beans">
              <a href="<%= admin_beans_path %>" class="nav-link nav-toggle">
                <i class="icon-settings"></i> 列表
              </a>
            </li>
            <li class="nav-item" id="new_bean">
              <a href="<%= new_admin_bean_path %>" class="nav-link nav-toggle">
                <i class="icon-settings"></i> 发布
              </a>
            </li>

        </ul>
      </li>
  </ul>
</div>
